.profile-page {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 50px;
  border-radius: 10px;
  max-width: 80vw;
  margin: auto;
  font-family: 'Urbanist', sans-serif;
  min-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  text-align: center;
  font-size: 35px;
  color: #ffcc00;
  margin-bottom: 20px;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  border: 2px solid #ffcc00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upload-button {
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: #ffcc00;
  color: #1e1e1e;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.profile-details, .trophies-section, .stats-section, .uuid-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.detail-item, .stat-item {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.detail-item label, .stat-item label {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.edit-button {
  background-color: #ffcc00;
  color: #1e1e1e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.uuid-section button {
  background-color: #ffcc00;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}