.buttons-section{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.display-friend-section{
    display: flex;
    flex-direction: column;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(5px);
}

.serach-friend{
    position: relative;
    width: 700px;
    min-height: 400px;
    background-color: white;
    margin: 150px auto;
}

button.close-btn{
    position: absolute;
    top: -50px;
    right: 0;
}