*{
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: rgb(30, 30, 30);
    --bg-card-color : rgb(35, 35, 35);
    --border-color: rgb(56, 56, 56);
}

body{
    background-color: var(--bg-color);
}